* {/*reset css*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 390px; /*Tiltænkt skærmstørrelse: iphone 14 = 390px*/
    background-image: url('../assets/baggrund.png'); /* Sti til billedet */
    background-color: black; 
    background-position: center; /* Centrerer billedet */
    background-repeat: no-repeat; /* Forhindrer gentagelse af billedet */
    margin-inline: auto; /* Centrerer sitet, hvis det vises på en større skærm */
}
.page {
    display: flex; /* Gør det til en Flexbox-container */
    flex-direction: column; /* Arrangerer børnene lodret */
    justify-content: flex-start; /* Placerer indholdet øverst */
    align-items: center; /* Centrerer børnene vandret */
    width: 80%;
    max-width: 300px;
    background: #EEEAE5;
    padding: 20px;
    min-height: 100vh; /* Sikrer at siden fylder hele højden af viewporten */
    box-sizing: border-box;
    margin: 40px auto; /* Kombinerer top/bund margin og centering */
  }

  h1 {
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif; /* ikke den rigtige skrifttype endnu*/
    margin-bottom: 10px; /*giver lidt luft under overskriften*/
  }
  
  .info-grid {
    display: grid; /* Aktiverer CSS Grid */
    grid-template-columns: 1fr 1fr; /* to kolonner */
    margin-top: 20px; /* Giver lidt luft mellem h1 og info-grid */
    gap: 20px; /* Styrer både rækkeafstand og kolonneafstand */
    margin-bottom: 20px; /* Giver lidt luft under grid'en */
}
  .info-box:first-child {
    grid-column: 1 / -1; /* strækker sig over begge kolonner */
  }

  .info-box  {
    text-align: center; /* Centrerer teksten og billedet */
    display: flex; /* Gør det til en Flexbox-container */
    flex-direction: column; /* Arrangerer børnene lodret */
    align-items: center; /* Centrerer børnene vandret */
  }

  .info-box p {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
    margin-top: 5px;
}

.info-box h3 {
    font-family: Montserrat, Helvetica, sans-serif; /* ikke den rigtige skrifttype endnu*/
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin: 10px 0; /* Giver luft over og under overskriften */
}

  .info-box img {
    display: block;
    margin: auto;
    margin: 0 auto 10px auto; /* Centrerer billedet og giver luft under det */
    justify-content: center; /*centrerer ikonet*/
    align-items: center;
    height: 65px;
    width: 100px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.chart img {
    margin-top: 10px;
}

/* Container til alle kort */
.card-container {
  display: flex; /* Læg kortene på række */
  gap: 30px;            
  flex-wrap: wrap;   /* Gør at de hopper ned på næste linje, hvis der ikke er plads */
  margin-top: 20px; /* Giver lidt luft over containeren */
}
.flip-card {
  background-color: transparent; 
  width: 250px;                  
  height: 110px;                
  perspective: 1000px; /* Afstand til "kameraet" → styrer 3D-effekten */
}

.flip-card-inner {
  position: relative;            /* Gør det muligt at absolut-positionere front og back */
  width: 100%;                   
  height: 100%;                  
  text-align: center;            
  transition: transform 0.6s;    /* Giver en glidende effekt, når der roteres */
  transform-style: preserve-3d;  /* Sørger for at børneelementerne gengives i 3D-rum */
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);    /* Når .flip-card har klassen "flipped",roteres indholdet 180 grader rundt om Y-aksen */                               
}

.flip-card-front, .flip-card-back {
  position: absolute;            /* Placeres oven på hinanden */
  width: 100%;                   /* Dækker hele containeren */
  height: 100%;                  /* Samme højde som containeren */
  backface-visibility: hidden;   /* Skjuler bagsiden, når elementet roteres */
  border-radius: 10px;           
  padding: 45px;                 /* Indvendig afstand til indholdet */
  box-sizing: border-box;        /* Padding tælles med i elementets samlede bredde/højde */
}

.flip-card-front {
  background-color: black;  
  color: #BF232D; 
  display: flex;              /* Gør det muligt at lægge elementer ved siden af hinanden */
  align-items: center;        /* Centrerer indholdet vertikalt */
  justify-content: flex-start; 
  position: relative;  /* Gør det muligt at absolut-positionere ikonet */
  font-family: Montserrat, Helvetica, sans-serif;  /* ikke den rigtige skrifttype endnu*/ 
  padding-left: 0;              
}

.flip-card-back {
  background-color: white;       
  color: black; 
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 13px;  
  text-align: center;         
  transform: rotateY(180deg); /* Bagsiden vendes 180 grader,så den bliver "bagsiden" af kortet */
}
.flip-icon {
  position: absolute;  
  bottom: 5px;   /* afstand fra bunden */
  right: 10px;    /* afstand fra højre */
  width: 25px;    /* størrelse på ikonet */
  height: auto;   
  cursor: pointer; /* viser at ikonet kan klikkes */
}

.lukke-icon {
    position: absolute;  
    top: 5px;   /* afstand fra toppen */
    right: 15px;    /* afstand fra højre */
    width: 15px;    /* størrelse på ikonet */
    margin-top: 10px;
    cursor: pointer; /* viser at ikonet kan klikkes */
}
